main{
        padding-top: 90px;
}
.jumbotron{
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../assets/images/tbbt_bg_image.jpg');

}
.box_game_advertising{
        display: flex;
        justify-content: space-between;
}

.players_score{
        display: flex;
        gap: 10px;
        text-align: center;
}

@media all and (max-width :768px){
        .box_game_advertising{
                flex-direction: column;
        }
        .game_info{
                width: 100%;
        }
        .jumbotron{
            background-image: url('../assets/images/jumboMobile.webp');
        }
}
