.btnDefault{
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgb(160,62,52);
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}
.btn_gameplay{
    width: 70px;
}