
#rule_games h1{
    background: -webkit-linear-gradient(rgb(9, 6, 36), rgb(88, 88, 196));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 32px 0;
}

#rule_games h2{
    text-align: center;
}
#rule_games h5{
    text-align: center;
    margin: 24px 0;
    color:#655a5a
}
#rule_games .challenge{
    width: 80%;
    margin: 0 auto 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
        border-top-left-radius: 32px;
        flex-direction: column;
}
#rule_games .challenge .challenge_text{
    width: 60%;
    text-align: center;
    color: rgb(160,62,52);
}
#rule_games .challenge img{
    width: 30%;
    height: auto;
    border-radius: 25px;
}

#question_challenge{
    display: flex;
    align-items: center;
    justify-content: center;
}
#question_challenge span{
    margin-right: 32px;
    color: rgb(160,62,52);
    font-weight: bold;
    font-size: 2rem;
}
#question_challenge .playBtn{
    padding: 16px 64px;
    border-radius: 40px;
    background-color: rgb(160,62,52);
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}
.explane_rule{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background-color: rgb(88, 88, 196);
    margin: 32px auto;
    color: white;
    flex-wrap: wrap;
    width: 70%;
}
.explane_rule video{
    margin-top: 16px;
    width: 100%;
}
.explane_rule img{
    margin-top: 30px;
}
.explane_rule .paragr{
    width: 50%;
    margin: 24px 0;
    text-align: center;
}
.explane_rule p{
    text-align: center;
    line-height: 1.3;
    margin: 12px 0;

}

@media all and (max-width:768px){
    #rule_games .challenge{
        width: 100%;
        flex-direction: column;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    #rule_games .challenge img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-top-right-radius: 0;
    }
    .explane_rule .paragr{
        width: 100%;
        text-align: center;

    }
    .explane_rule img{

        width: 100%;
    }
}

@media all and (max-width:600px){
    .explane_rule img{
        margin: 30px auto;
    }
}