header{
    height: 90px;
    background-color: rgb(88, 88, 196);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    box-shadow: 0 4px 4px 0 rgb(161 161 161 / 66%);
}
header ul{
    display: flex;
    align-items: center;

}
header ul li{
    margin-left: 16px;
    list-style: none;
    cursor: pointer;
    font-size: 22px;
}
header img{
    height: 100%;
    width: auto;
}