header{
    height: 100px;
    background-color: rgb(88, 88, 196);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
header ul{
    display: flex;
    align-items: center;

}
header ul li{
    margin-left: 16px;
    list-style: none;
    cursor: pointer;
}
header img{
    height: 100%;
    width: auto;
}