header{
        height: 90px;
        background-color: rgb(88, 88, 196);
        display: flex;
        justify-content: space-around;
        box-shadow: 0 4px 4px 0 rgb(55 50 50 / 66%);
        position: fixed;
        border-radius: 3px;
        width: 100%;
        color: white;
        padding:16px;
        z-index: 3;
}
header picture{
    max-width: 20%;
}
header ul{
    display: flex;
    align-items: center;
}
.account_info{
    display: flex;
    align-items: center;
}

.account_info p{
    margin-left: 16px;
    list-style: none;
    cursor: pointer;
    font-size: 22px;
}

header ul li{
    margin-left: 16px;
    list-style: none;
    cursor: pointer;
    font-size: 22px;
}
header img{
    height: 100%;
    width: auto;
}

@media all and (max-width :768px){
    header ul{
        display: none;
        /* align-items: center; */
    
    }
}

@media all and (max-width :970px){
    header ul li{
       font-size: 1rem;
    }
    .account_info p{
        font-size: 1rem;
    }
}