
.game_table_container{
    width: 60%;
    min-height: 400px;
    background-color: teal;
    display: flex;
}

.w-50{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-50 p{
    color: white;
    font-size: 30px;
}

.mb{
        margin-bottom: 10px;
}

.pb_7{
    padding-bottom: 7px;
}

.img-set{
    width: 100%;
    height: 500px;
}

.button_container{
    display: flex;
    padding: 0 40px 10px 40px;
    gap: 10px;
}

.button_container .btnDefault{
    width: 20%;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

.btnDefault img{
    width: 100%;
}



@media all and (max-width :768px){
    .game_table_container{
        width: 100%;
    }
    
}